*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
}

html, body {
  background-color: #95afc0; /* or #EBA915 or #ddd or #95afc0*/
  height: 100%;
  overflow: hidden;
}
