/* NAVIGATION */
.navbar {
  display: flex;
  background-color: #22272F;
  height: 6%;
  align-items: center;
  padding: 0 420px;

  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.7);
}
.navbar p {
  color: #EEEEEE;
  font-size: 30px;
}


/* Main Container that wrapps all the sub containers */
.wrapper {
  display: flex; /* Make the container flexible */
  height: 100%; /* Set the height of the main container that wraps all the sub elements */
  align-items: center; /* Alight the content of the container vertically at the center */
  justify-content: center; /* Alight the content of the container horizintally at the center */
}


/* Login Container */
.login-container {
  display: flex; /* Make the container flexible */
  border-radius: 18px; /* Set the radius of the container */
  height: 582px; /* Set the height of the container */
  width: 1080px; /* Set the width of the container */
}


/* Right Side of the Login Container */
.right {
  flex: 1;
  border: 5px solid #22272F;
  background-color: #22272F;

  /* Set the border radius only on the left hand side of the element */
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;

  /* Add a shadow to the right container */
  box-shadow: 13px 8px 20px 1px rgba(0,0,0,0.7);
}
.right-title { /* 'Home Automation' title */
  color: #EEEEEE; /* Set the color of the element to light gray */
  display: flex; /* Make the container flexible */
  justify-content: center; /* Align the element horizontally in the container */
  margin-top: 60px; /* Add space between the top of the container and the elment */
}


/* Left side of the Login Container */
.left {
  flex: 1.5;
  border: 5px solid #EEEEEE; /* Set the border to light gray */
  background-color: #EEEEEE; /* Set the background color to light gray */

  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;

  /* Set the border radius only on the left hand side of the element */
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;

  /* Add a shadow to the left container */
  box-shadow: 13px 8px 20px 1px rgba(0,0,0,0.7);
}


.form .username, .form .password {
  width: 50%;
  position: relative;
  height: 50px;
  overflow: hidden;

}

.form .username input, .form .password input {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-left: 1px;
  border: none;
  background: #22272F;
  color: #EEEEEE; /* Change the color of the input text */
  outline: none;
  font-size: 15px;
}

.form .username label, .form .password label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: #EEEEEE; /* Change the color of the input text */
  border-bottom: 1px solid #EEEEEE;
  font-size: 18px;
}

.form .username label::after, .form .password label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #EBA915;
  transform: translateX(-100%);

}

.form .content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form .username input:focus + .label-username .content-name, .form .username input:valid + .label-username .content-name,
.form .password input:focus + .label-password .content-name, .form .password input:valid + .label-password .content-name{
  transform: translateY(-150%);
  font-size: 15px;
  color: #EBA915;
}

.form .username input:focus + .label-username::after, .form .username input:valid + .label-username::after,
.form .password input:focus + .label-password::after, .form .password input:valid + .label-password::after{
  transform: translateX(0%);
  transition: transform 0.3s ease;
}

.form .username {
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
